/*
* @Author: vein
* @Date:   2017-04-17 23:39:31
* @Last Modified by:   vein
* @Last Modified time: 2017-04-19 06:06:02
*/
body {
	background-color: rgb(48,48,48);
	color: rgb(197,214,190);
  font-family: monospace, sans-serif;
	font-size: 16px;
	line-height: 1.5;
}
h2 {
  margin: 1em 0 0;
  color  : rgb(180,180,180);  
}
input,
button {
	font-size: 24px;
	padding: 6px 10px;
}
input {
  background-color: rgb(197,214,190);
  color: rgb(48,48,48);
  border: 2px solid rgb(24,24,24);
  font-size: 20px;
  letter-spacing: 2px;
  text-transform: uppercase;
}
.hidden {
  display: none;
}
#main {
  width: 640px; margin: 0 auto;
}
#searchForm{
  margin-bottom: 1em;
}
#searchResult {}
#searchResultItems {
  display: table; width: 100%;
  counter-reset: searchResult;
}
#searchResultItems .item {
  display: table-row;
  padding: 0.5em 0;
}
#searchResultItems .item:before {
  display: table-cell;
  counter-increment: searchResult;
  content: counter(searchResult) ". ";
  width  : 8ex;
  color  : rgb(164,164,164);
}
#searchResultItems .item span {
  display: table-cell;
  font-weight: bold;
}
#searchResultItems .item span.title {
  letter-spacing: 2px;
}
#searchResultItems .item span.box   {
  text-align: right;
  color: rgb(214,197,48);
}
